<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= patient.birthday %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= patient.cpf %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= patient.adress %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient.phone %>
  </p>

</div>
