<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= doctor.birthday %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= doctor.cpf %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= doctor.adress %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= doctor.phone %>
  </p>

  <p>
    <strong>Clinic:</strong>
    <%= doctor.clinic %>
  </p>

  <p>
    <strong>Crm:</strong>
    <%= doctor.crm %>
  </p>

</div>
