<div>
  <div>
  <br><br>
  
    <p>Hour:</>
    <%= @appointment.hour %>
    <br>
  
    <p>Doctor:</>
    <%= @appointment.doctor.name %>
    <br>
  
    <p>Patient:</>
    <%= @appointment.patient.name %>
    <br>
  
  </div>
  <div>
    <%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-secondary' %>
    <%= link_to 'Delete', @appointment, data: { turbo_method: :delete, turbo_confirm: 'Are ou sure?' }, class: 'btn btn-secondary' %>
  </div>
</div>
